/* RESET Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #b07cf7;
}

/* BASE */
* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

h1 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.header-text {
    font-size: 14px;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: center;    
}

.block1, .block2, .block3 {
    position: relative;
    height: 315px;
    width: 373px;
    margin: 20px;
    color: #ffffff;
}

.parent-block1, .parent-block2, .parent-block3 {
    position: relative;
    top: 0;
    left: 0;
}

.child-top-block1, .child-top-block2, .child-top-block3 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    left: 30px;
    height: 55px;
    width: 50px;
    background-color: #3c3c3c;
    opacity: 0.7;
    border-radius: 4px;        
}

.child-bottom-block1, .child-bottom-block2, .child-bottom-block3 {
    position: absolute;
    top: 185px;
    left: 20px;    
}


.date {
    font-size: 18px;    
    color: #ffffff;
    font-weight: 700;
    text-align: center;    
}

span {
    font-size: 24px;
}

.child-text1 {
    font-weight: 600;
    font-size: 21px;
}

.child-text2 {
    font-size: 14px;
}

.button {
    display: flex;
    justify-content: center;
    height: 45px;
    width: 200px;
    margin: 30px auto 100px auto;
}

button {
    font-family: 'Raleway', sans-serif;
    background-color: #f62b3b;
    height: 45px;
    width: 200px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}